<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugon.gsq.om.db.mapper.OmMonitorMessageMapper">
  <resultMap id="BaseResultMap" type="com.sugon.gsq.om.db.entity.OmMonitorMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="hostname" jdbcType="VARCHAR" property="hostname" />
    <result column="project" jdbcType="VARCHAR" property="project" />
    <result column="number" jdbcType="DOUBLE" property="number" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
</mapper>